/* noto-serif-sc-regular - chinese-simplified */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Serif SC';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/noto-serif-sc-v22-chinese-simplified-regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/noto-serif-sc-v22-chinese-simplified-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-serif-sc-v22-chinese-simplified-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../fonts/noto-serif-sc-v22-chinese-simplified-regular.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('../fonts/noto-serif-sc-v22-chinese-simplified-regular.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('../fonts/noto-serif-sc-v22-chinese-simplified-regular.svg#NotoSerifSC') format('svg'); /* Legacy iOS */
}





  //滚动条
html { 
	overflow-y: scroll; /* 设置自定义滚动条 这样做会强制显示滚动条*/
	/*overflow-y: auto; /* 可以更换为auto，自动显示模式，就不会强制显示*/
}

/* 滚动栏本身的背景 此项必须有 */
html::-webkit-scrollbar { 
    width: 6px;
    background-color: rgba(0, 0, 0, 0.0);
}

/*滚动栏下方的空白区域*/
html::-webkit-scrollbar-track {
	background: rgba(255, 85, 127, 0.0); /* 设置透明，就会随主题变化 */
}

/* 可拖动滚动元素的大小取决于可滚动元素的大小 */
html::-webkit-scrollbar-thumb{
	background: #252d38;
	border-radius: 6px;
}

/* 可滚动元素的底角，两个滚动条在此相交。 */
html::-webkit-scrollbar-corner {
	background:#82AFFF;
}




  //替换鼠标指针
/* 封面大图 */
/* 封面大图 */
.banner {
	cursor: url(/images/uploads/Arrow.cur),auto;
	background-color: rgba(0, 0, 0, 0.0);
}

.mask {
	cursor: url(/images/uploads/Arrow.cur),auto;
	background-color: rgba(0, 0, 0, 0.0);
}

/* 封面向下 */
.scroll-down-bar {
	cursor: url(/images/uploads/Hand2.cur),auto;
	background-color: rgba(0, 0, 0, 0.0);
}

/* 搜索框关闭按钮 */
#local-search-close.close {
	cursor: url(/images/uploads/Hand2.cur),auto;
	background-color: rgba(0, 0, 0, 0.0);
}

/* 搜索框、输入框 */
input,textarea {
	cursor: url(/images/uploads/IBeam.cur),auto;
	background-color: rgba(0, 0, 0, 0.0);
}

/* 所有可跳转链接 */
a[href] {
	cursor: url(/images/uploads/Hand2.cur),auto !important;
	background-color: rgba(0, 0, 0, 0.0);
}

/* 按钮 */
button[class] {
	cursor: url(/images/uploads/Hand2.cur),auto !important;
	background-color: rgba(0, 0, 0, 0.0);
}

/* 补充按钮 */
svg,span.vat,span.vnick {
	cursor: url(/images/uploads/Hand2.cur),auto !important;
	background-color: rgba(0, 0, 0, 0.0);
}

/* 图片放大 */
.fancybox-image {
	cursor: url(/images/uploads/SizeAll.cur),auto;
	background-color: rgba(0, 0, 0, 0.0);
}

html { 
	cursor: url(/images/uploads/Arrow.cur),auto;
	background-color: rgba(0, 0, 0, 0.0);
	overflow-y: auto; /* 设置自定义滚动条 */

	
/* 回到顶部   a标签添加!important属性后此处可删*/
#scroll-top-button {
	cursor: url(/img/Hand2.cur),auto;
	background-color: rgba(0, 0, 0, 0.0);
}


/* 设置背景图片 */
body {
  background: url(https://i.imgtg.com/2023/07/07/OxRfVS.jpg);
  background-attachment: fixed;
  background-size: cover;  
}


//代码框透明度
[data-user-color-scheme=dark] {
  --highlight-bg-color: #30303069;
}

	
